RewriteEngine On

# ASIN yönlendirme kuralı
# Örnek: /asin/B0F36VDVG1 -> https://www.amazon.com/dp/B0F36VDVG1?tag=autopartshub2-20
RewriteRule ^asin/([A-Za-z0-9]{10})$ https://www.amazon.com/dp/$1?th=1&psc=1&tag=autopartshub2-20&linkCode=ogi [R=302,L,NC]
